{% extends 'base.html' %}

{% block content %}

<h1>
  Contact Us
</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nisi ut, soluta, odio molestiae quae distinctio corrupti voluptas nostrum itaque deserunt explicabo minus officiis nulla similique qui beatae eius totam?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione, mollitia dolor corrupti hic ex, ut suscipit et cumque voluptatem debitis beatae rerum perspiciatis similique fugit, quod ipsa error deleniti?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sed repudiandae! Id enim repellat ea eaque non dignissimos, dolorem facere odio libero optio perferendis aspernatur itaque dolores veritatis deserunt neque!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illum porro assumenda similique dolorum eaque deleniti, repudiandae, qui dolore nemo fugiat doloremque repellat cupiditate sint modi, vitae soluta officiis exercitationem.
</p>

{% endblock content %}