</div>
{% load static %}
<!--   Footer Start -->


<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted customFooter">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Reach us on :</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="#" class="me-4 text-reset">
        <i class="fab fa-facebook-square"></i></a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i></a>
      <!--       <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i></a> -->
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i></a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i></a>
      <!--       <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i></a> -->
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Hiring Road
          </h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum similique omnis explicabo esse ut laboriosam
            enim. Molestias at, voluptates fugit temporibus ratione sequi cumque eos quasi pariatur nemo praesentium
            doloremque?
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Job Categories
          </h6>
          {% for category in categories %}

          <p>
            <a class="link-secondary" href="/job/categories/{{category.url}}">{{category.title | safe}}</a>
          </p>

          {% endfor %}
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="link-secondary">Sitemap</a>
          </p>
          <p>
            <a href="{% url 'about-us' %}" class="link-secondary">About Us </a>
          </p>
          <p>
            <a href="{% url 'contact-us' %}" class="link-secondary">Contact Us </a>
          </p>
          <p>
            <a href="{% url 'privacy-policy' %}" class="link-secondary">Privacy Policy </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Prayagraj, Uttar Pradesh</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contact@hiringroad.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 91 639 486 3718</p>
          <p><i class="fas fa-print me-3"></i> + 91 630 604 8404</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://hiringroad.com/">hiringroad.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!--   Footer End -->


<!-- Custom JS -->
<script src="{% static 'js/main.js' %}"></script>


<!-- Bootstrap JS   -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Font Awesome Kit -->
<script src="https://kit.fontawesome.com/03808d0f58.js" crossorigin="anonymous"></script>
</body>

</html>