{% extends 'base.html' %}

{% block content %}

  <div class="container">
      {% for post in posts %}

          <div class="card customCard p-2 mb-3 postCard" href="">
  <img src="/media/{{post.image}}" alt="" class="cardCustomImage card-img mx-1">
  <div class="row m-0 p-0">
  <h6 class="card-title">{{post.title | safe}}</h6>
  <p class="card-text m-0">
    {{post.content | truncatewords:30 | safe}}
    <div></div>
    <a href="/job/categories/post/{{post.url}}" class="link-primary">Read More</a>
  </p>
    
          <footer class="blockquote-footer m-0 p-0">Posted On : {{post.add_date | date:"d-m-y" | safe}}</footer>
    </div>
</div>

{% endfor %}    
  </div>

{% endblock content %}
