{% extends 'base.html' %}

{% block content %}


<!-- Container 1 Start -->
<div class="container mb-5 pt-5">

  {% comment "Uncomment when Google Ads are approved" %}
  {% include 'components/ad1.html' %}
  {% endcomment %}

  {% include 'components/featuredcard.html' %}

</div>
<!-- Container 1 End -->


<!-- Container 2 Start -->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main mb-3">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        First on the Road
      </h3>

      {% include 'components/post_card.html' %}


      <div class="d-flex justify-content-center">
        <a class="btn btn-secondary" href="{% url 'job-categories' %}">View More</a>
      </div>

    </div>

    <!-- Right Side Navigtion Start -->

    {% include 'components/right_navigation_panel.html' %}

    <!-- Right Side Navigtion End -->

  </div>

</main>
<!-- Container 2 End -->


{% comment "Uncomment when Google Ads are approved" %}
{% include 'components/ad3.html' %}
{% endcomment %}


{% endblock content %}