<!-- Trending Tags Start -->
<div class="p-3">
    <h4 class="font-italic">Trending Tags</h4>
    <ol class="list-unstyled">
        <li><a href="#" class="primary">#freshers</a></li>
        <li><a href="#" class="primary">#workfromhome</a></li>
        <li><a href="#" class="primary">#governmentjobs</a></li>
        <li><a href="#" class="primary">#mnc</a></li>
        <li><a href="#" class="primary">#supportjobs</a></li>
        <li><a href="#" class="primary">#salesjobs</a></li>
        <li><a href="#" class="primary">#itjobs</a></li>
    </ol>
</div>
<!-- Trending Tags End -->